* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background: #171747;
  color: white;
  margin: 0;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

main {
  max-width: 800px;
  width: 100%;
  background: #26235c;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 2rem;
}
header p {
  font-size: 1.2rem;
  font-weight: 600;
}
section {
  margin-bottom: 1.5rem;
}

h1,
h2 {
  color: white;
}
h1 {
  font-family: "Clash display", sans-serif;
}
ul {
  padding-left: 1.5rem;
}

blockquote {
  font-style: italic;
  background: #16174d;
  border-left: 4px solid #007acc;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 4px;
}

@media (max-width: 600px) {
  main {
    padding: 1rem;
  }
}
